#logo img {
    max-width: 100%;
    margin-top: 30px !important;
}

#logoutForm-logoutBtn {
    margin-top: 5px;
    margin-right: 3px;
    margin-left: 20px;
}
#repoInfoForm-repoInfoBtn
  {
      margin-top: 5px;
      margin-left: 5px;
  }

#treeForm .ui-state-highlight {
    border: 1px solid #666666;
    background: #aaaaaa;
    background: #aaaaaa linear-gradient(top, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
    background: #aaaaaa -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.25)), to(rgba(0, 0, 0, 0)));
    background: #aaaaaa -moz-linear-gradient(top, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
    color: #ffffff;
    text-shadow: 1px 1px 1px #333333;
    cursor: pointer;
    padding: 3px 5px;
    border-radius: 4px;
}

#treeForm .ui-state-hover {
    border: 1px solid #7096ab;
    background: #85b2cb url("/showcase/javax.faces.resource/images/ui-bg_highlight-hard_80_85b2cb_1x100.png.jsf?ln=primefaces-aristo") 50% 50% repeat-x;
    background: #85b2cb linear-gradient(top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0));
    background: #85b2cb -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.6)), to(rgba(255, 255, 255, 0)));
    background: #85b2cb -moz-linear-gradient(top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0));
    font-weight: bold;
    color: #313131;
    -moz-box-shadow: 0 0 5px #85b2cb;
    -webkit-box-shadow: 0px 0px 8px #85b2cb;
    box-shadow: 0px 0px 8px #85b2cb;
    cursor: pointer;
    padding: 3px 5px;
    border-radius: 4px;
}

#treeForm {
    font-size: 16px;
}

.ui-tree .ui-tree-container li .ui-treenode-content:hover .ui-tree-toggler.ui-icon-triangle-1-e {
    margin: 2px 2px 0px 3px !important;
    border-top-color: transparent !important;
    border-left: 6px solid rgb(165, 163, 155) !important;
}

.ui-tree .ui-tree-container li .ui-treenode-content:hover .ui-tree-toggler {
    border-left: 6px solid rgb(165, 163, 155) !important;
}

#deleteForm-accept {
    margin-right: 10px;
}

#form-accordionPanel-metadataTable {
    width: 100%;
}

#form-accordionPanel-metadataTabel-j_idt23 {
    width: 100%;
}

#importForm-importFileUpload{
    width: 100%;
}

#importForm-fileUploadName{
    float: none;
    margin: 0;
    width: 98%;
    margin-left: 10px;
    margin-bottom: 5px;
}

#importForm-importFileUpload .fileupload-content{
    float: left;
    line-height: 30px;
    margin-left: 10px;
    clear: both;
}

#importForm-fileUploadName {
    float: right;
}

#importForm-j_idt34 {
    margin-left: 50px;
}

/* TABLE */

.ui-datatable-scrollable-header, .ui-datatable-scrollable-footer {
    overflow: hidden;
}

#createTypeForm-accordionPanel-accordionTabMetadata .ui-datatable table, #viewForm-accordionPanel-accordionTabMetadata .ui-datatable table {
    border-collapse: collapse;
    width: 100%;
}

#createTypeForm-accordionPanel-accordionTabMetadata table, #viewForm-accordionPanel-accordionTabMetadata table {
    display: table;
    border-collapse: separate;
}

#createTypeForm-accordionPanel-accordionTabMetadata .ui-datatable table, #viewForm-accordionPanel-accordionTabMetadata .ui-datatable table {
    border-collapse: collapse;
}

#createTypeForm-accordionPanel-accordionTabMetadata .ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td, #viewForm-accordionPanel-accordionTabMetadata .ui-datatable thead th {
    padding: 5px 10px;
    overflow: hidden;
    border: 1px solid #000;
    font-weight: bold;
}

#createTypeForm-accordionPanel-accordionTabMetadata .ui-datatable thead th, .ui-datatable tfoot td, #viewForm-accordionPanel-accordionTabMetadata .ui-datatable thead th {
    text-align: center;
}

#createTypeForm-accordionPanel-accordionTabMetadata .ui-datatable-scrollable-body, #viewForm-accordionPanel-accordionTabMetadata .ui-datatable-scrollable-body {
    overflow: auto;
}

#createTypeForm-accordionPanel-accordionTabMetadata .ui-datatable-scrollable table, .ui-datatable-sticky table, #viewForm-accordionPanel-accordionTabMetadata .ui-datatable-scrollable table {
    table-layout: auto;
}

#createTypeForm-accordionPanel-accordionTabMetadata colgroup, #viewForm-accordionPanel-accordionTabMetadata colgroup {
    display: table-column-group;
}

#createTypeForm-accordionPanel-accordionTabMetadata .ui-widget-content, #viewForm-accordionPanel-accordionTabMetadata .ui-widget-content {
    position: relative;
}

#createTypeForm-accordionPanel-accordionTabMetadata tr, #viewForm-accordionPanel-accordionTabMetadata tr {
    vertical-align: inherit;
}

#createTypeForm-accordionPanel-accordionTabMetadata .ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td, #viewForm-accordionPanel-accordionTabMetadata .ui-datatable thead th {
    padding: 0px 7px;
    overflow: hidden;
}

#createTypeForm-accordionPanel-accordionTabMetadata .ui-datatable tbody td, #viewForm-accordionPanel-accordionTabMetadata .ui-datatable tbody td {
    border-color: inherit;
    position: relative;
}

#createTypeForm-accordionPanel-accordionTabMetadata .ui-cell-editor-input select, #viewForm-accordionPanel-accordionTabMetadata .ui-cell-editor-input select {
    width: 100%;
}

#createTypeForm-accordionPanel-accordionTabMetadata .ui-cell-editor, #viewForm-accordionPanel-accordionTabMetadata .ui-cell-editor {
    width: 100px;
    min-height: 34px;
    line-height: 31px;
}

#createTypeForm-accordionPanel-accordionTabMetadata thead tr th span, #viewForm-accordionPanel-accordionTabMetadata thead tr th span {
    display: block;
    width: 100px;
}

#createTypeForm-accordionPanel-accordionTabMetadata thead tr th span.ui-chkbox-icon, #viewForm-accordionPanel-accordionTabMetadata thead tr th span.ui-chkbox-icon{
    width: 16px;
    display: inline-block;
}

#createTypeForm-accordionPanel-accordionTabMetadata tr, #viewForm-accordionPanel-accordionTabMetadata tr {
    width: 100% !important;
    display: table-row;
}

#createTypeForm-accordionPanel-accordionTabMetadata td .ui-button, #viewForm-accordionPanel-accordionTabMetadata td .ui-button {

}

#createTypeForm-accordionPanel-accordionTabMetadata .ui-row-editor, #viewForm-accordionPanel-accordionTabMetadata .ui-row-editor {
    width: 100px;
    padding-left: 10px;
}

#createTypeForm-accordionPanel-accordionTabMetadata .ui-datatable-scrollable .ui-datatable-scrollable-body .ui-datatable-data .ui-widget-content > td, #viewForm-accordionPanel-accordionTabMetadata .ui-datatable-scrollable .ui-datatable-scrollable-body .ui-datatable-data .ui-widget-content > td {
    border: none;
}

#createTypeForm-accordionPanel-accordionTabMetadata .ui-datatable-scrollable-header-box, #viewForm-accordionPanel-accordionTabMetadata .ui-datatable-scrollable-header-box {
    margin: 0;
}

#createTypeForm-accordionPanel-metadataTabel .ui-datatable-scrollable-header-box th, #viewForm-accordionPanel-accordionTabMetadata .ui-datatable-scrollable-header-box th {
    text-align: center;
}

#viewForm-accordionPanel-accordionTabMetadata, #createTypeForm-accordionPanel-accordionTabMetadata {
    padding: 0px;
}

#createTypeForm-accordionPanel-metadataTabel {
    margin-top: -40px;
}

#createTypeForm-accordionPanel-metadataTabel-addNewLineMetadataBtn, #createTypeForm-accordionPanel-metadataTabel-selectedMetadataUpdateBtn, #createTypeForm-accordionPanel-metadataTabel-selectedMetadataDeleteBtn {
    z-index: 100;
    position: absolute;
}

#createTypeForm-accordionPanel-metadataTabel-addNewLineMetadataBtn {
    right: 45px;
}

#createTypeForm-accordionPanel-metadataTabel-selectedMetadataUpdateBtn {
    right: 160px;
}

#createTypeForm-accordionPanel-metadataTabel-selectedMetadataDeleteBtn {
    right: 235px;
}

/* delete modal dialog*/

#deleteTypeDialog {
    width: 380px;
    left: 64%;
}

#viewForm-selectedTypeOutInfo {
    color: slategray;
    cursor: default;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 34px;
    font-size: 20px;
    margin: 0;
    float: right;
}

#updateMetadataModalForm-createMetadataButton {
    margin-right: 20px;
}

#createMetadataModalDialog {
    width: 690px !important;
    height: auto !important;
    top: 3% !important;
    left: 25% !important;
}

#createMetadataModalDialog .ui-outputlabel, #updateMetadataModalDialog .ui-outputlabel{
    width: 100%;
}

#createMetadataModalDialog .ui-dialog-content,#repoInfoModalDialog .ui-dialog-content{
    max-height: 800px !important;
}

#updateMetadataModalDialog,#repoInfoModalDialog {
    width: 690px !important;
    height: auto !important;
    top: 3% !important;
    left: 25% !important;
}

#updateMetadataModalDialog .ui-outputlabel {
    width: 100%;
}

#updateMetadataModalDialog .ui-dialog-content {
    max-height: 800px !important;
}

#createTypeForm-accordionPanel-metadataTabel_data tr.ui-state-highlight, #createTypeForm-accordionPanel-metadataTabel_data tr.ui-state-hover{
    background: #0075AC !important;
    background: #0075AC linear-gradient(top, #026292, #85b2cb) !important;
    background: #0075AC -webkit-gradient(linear, left top, left bottom, from(#026292), to(#85b2cb)) !important;
    background: #0075AC -moz-linear-gradient(top, #026292, #85b2cb) !important;
    color: #ffffff !important;
    cursor: pointer !important;
    border: none;
}

#createTypeForm-accordionPanel-metadataTabel_data tr td{
    background: inherit;
    color: inherit;
    font: inherit;
}

#createTypeForm-accordionPanel-metadataTabel_data .ui-chkbox{
    vertical-align: middle;
}

#createMetadataModalForm-createMetadataButton, #updateMetadataModalForm-updateMetadataButton{
    margin-right: 10px;
}

#changeRepositoryForm{
    max-width: 500px !important;
}

#changeRepositoryForm table{
    width: 100%;
}

#fileExportForm-includeChildCheckbox{
    vertical-align: middle;
}