#logo img {
    max-width: 100%;
    margin-top: 30px !important;
}

#logoutForm-logoutBtn {
    margin-top: 4px;
    margin-right: 3px;
    margin-left: 20px;
}

#treeForm .ui-state-highlight {
    border: 1px solid #666666;
    background: #aaaaaa;
    background: #aaaaaa linear-gradient(top, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
    background: #aaaaaa -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.25)), to(rgba(0, 0, 0, 0)));
    background: #aaaaaa -moz-linear-gradient(top, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
    color: #ffffff;
    text-shadow: 1px 1px 1px #333333;
    cursor: pointer;
    padding: 3px 5px;
    border-radius: 4px;
}

#treeForm .ui-state-hover {
    border: 1px solid #7096ab;
    background: #85b2cb url("/showcase/javax.faces.resource/images/ui-bg_highlight-hard_80_85b2cb_1x100.png.jsf?ln=primefaces-aristo") 50% 50% repeat-x;
    background: #85b2cb linear-gradient(top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0));
    background: #85b2cb -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.6)), to(rgba(255, 255, 255, 0)));
    background: #85b2cb -moz-linear-gradient(top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0));
    font-weight: bold;
    color: #313131;
    -moz-box-shadow: 0 0 5px #85b2cb;
    -webkit-box-shadow: 0px 0px 8px #85b2cb;
    box-shadow: 0px 0px 8px #85b2cb;
    cursor: pointer;
    padding: 3px 5px;
    border-radius: 4px;
}

#treeForm {
    font-size: 16px;
}

#deleteForm {
    position: absolute;
    z-index: 1000;
    top: 30%;
    left: 15%;
    box-shadow: 1px 1px 6px #333;
}

#createTypeForm-accordionPanel-metadataTabel .ui-datatable-scrollable-header-box th{
    text-align: center;
}



/*.ui-messages {*/
/*position: fixed;*/
/*top: 5%;*/
/*right: 3%;*/
/*z-index: 1100;*/
/*height: auto;*/
/*}*/

/*.ui-messages-close {*/
/*right: 5px;*/
/*}*/

.ui-tree .ui-tree-container li .ui-treenode-content:hover .ui-tree-toggler.ui-icon-triangle-1-e {
    margin: 2px 2px 0px 3px !important;
    border-top-color: transparent !important;
    border-left: 6px solid rgb(165, 163, 155) !important;
}

.ui-tree .ui-tree-container li .ui-treenode-content:hover .ui-tree-toggler {
    border-left: 6px solid rgb(165, 163, 155) !important;
}

#deleteForm-accept{
    margin-right: 10px;
}
#form-accordionPanel-metadataTable {
    width: 100%;
}
#form-accordionPanel-metadataTabel-j_idt23{
    width:100%;
}

#importHeader {
    font-size: 24px;
    text-align: center;
}

#importForm {
    margin-top: 30px;
}
.files{
    margin-top: 40px;
}
#importForm-j_idt30{
    float: right;
}

/* TABLE */

.ui-datatable-scrollable-header, .ui-datatable-scrollable-footer {
    overflow: hidden;
}

#createTypeForm-accordionPanel-accordionTabMetadata .ui-datatable table {
    border-collapse: collapse;
    width: 100%;
}

#createTypeForm-accordionPanel-accordionTabMetadata table {
    display: table;
    border-collapse: separate;
}

#createTypeForm-accordionPanel-accordionTabMetadata .ui-datatable table {
    border-collapse: collapse;
}

#createTypeForm-accordionPanel-accordionTabMetadata .ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td {
    padding: 5px 10px;
    overflow: hidden;
    border: 1px solid #000;
    font-weight: bold;
}

#createTypeForm-accordionPanel-accordionTabMetadata .ui-datatable thead th, .ui-datatable tfoot td {
    text-align: center;
}

#createTypeForm-accordionPanel-accordionTabMetadata .ui-datatable-scrollable-body {
    overflow: auto;
}

#createTypeForm-accordionPanel-accordionTabMetadata .ui-datatable-scrollable table, .ui-datatable-sticky table {
    table-layout: auto;
}

#createTypeForm-accordionPanel-accordionTabMetadata colgroup {
    display: table-column-group;
}

#createTypeForm-accordionPanel-accordionTabMetadata .ui-widget-content {
    position: relative;
}

#createTypeForm-accordionPanel-accordionTabMetadata tr {
    vertical-align: inherit;
}

#createTypeForm-accordionPanel-accordionTabMetadata .ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td {
    padding: 0px 7px;
    overflow: hidden;
}

#createTypeForm-accordionPanel-accordionTabMetadata .ui-datatable tbody td {
    border-color: inherit;
    position: relative;
}

#createTypeForm-accordionPanel-accordionTabMetadata .ui-cell-editor-input select{
    width: 100%;
}

#createTypeForm-accordionPanel-accordionTabMetadata .ui-cell-editor{
    width: 100px;
    min-height: 34px;
    line-height: 31px;
}

#createTypeForm-accordionPanel-accordionTabMetadata thead tr th span{
    display: block;
    width: 100px;
}

#createTypeForm-accordionPanel-accordionTabMetadata tr{
    width: 100% !important;
    display: table-row;
}

#createTypeForm-accordionPanel-accordionTabMetadata td .ui-button{
    width: 30px;
    position: absolute;
    top: 16px;
    right: 15px;
}

#createTypeForm-accordionPanel-accordionTabMetadata .ui-row-editor{
    width: 100px;
    padding-left: 10px;
}

#createTypeForm-accordionPanel-accordionTabMetadata .ui-datatable-scrollable .ui-datatable-scrollable-body .ui-datatable-data .ui-widget-content > td{
    border: none;
}

#createTypeForm-accordionPanel-accordionTabMetadata .ui-datatable-scrollable-header-box{
    margin: 0;
}
