#logo img {
    max-width: 100%;
    margin-top: 30px !important;
}

#logoutForm-logoutBtn {
    margin-top: 4px;
    margin-right: 3px;
    margin-left: 20px;
}

#treeForm .ui-state-highlight {
    border: 1px solid #666666;
    background: #aaaaaa;
    background: #aaaaaa linear-gradient(top, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
    background: #aaaaaa -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.25)), to(rgba(0, 0, 0, 0)));
    background: #aaaaaa -moz-linear-gradient(top, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
    color: #ffffff;
    text-shadow: 1px 1px 1px #333333;
    cursor: pointer;
    padding: 3px 5px;
    border-radius: 4px;
}

#treeForm .ui-state-hover {
    border: 1px solid #7096ab;
    background: #85b2cb url("/showcase/javax.faces.resource/images/ui-bg_highlight-hard_80_85b2cb_1x100.png.jsf?ln=primefaces-aristo") 50% 50% repeat-x;
    background: #85b2cb linear-gradient(top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0));
    background: #85b2cb -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.6)), to(rgba(255, 255, 255, 0)));
    background: #85b2cb -moz-linear-gradient(top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0));
    font-weight: bold;
    color: #313131;
    -moz-box-shadow: 0 0 5px #85b2cb;
    -webkit-box-shadow: 0px 0px 8px #85b2cb;
    box-shadow: 0px 0px 8px #85b2cb;
    cursor: pointer;
    padding: 3px 5px;
}

#deleteForm {
    position: absolute;
    z-index: 1000;
    top: 30%;
    left: 15%;
}

.ui-messages {
    position: fixed;
    top: 5%;
    right: 3%;
    z-index: 1100;
    height: auto;
}

.ui-messages-close {
    right: 5px;
}

.ui-tree .ui-tree-container li .ui-treenode-content:hover .ui-tree-toggler.ui-icon-triangle-1-e {
    margin: 2px 2px 0px 3px !important;
    border-top-color: transparent !important;
    border-left: 6px solid rgb(165, 163, 155) !important;
}

.ui-tree .ui-tree-container li .ui-treenode-content:hover .ui-tree-toggler {
    border-left: 6px solid rgb(165, 163, 155) !important;
}

.ui-datatable table {
    border-collapse: collapse;
    width: 100%;
}

.ui-datatable .ui-datatable thead th, .ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td {
    padding: 4px 10px;
    overflow: hidden;
    white-space: nowrap;
    border-width: 1px;
    border-style: solid;
}

.ui-datatable tbody td {
    border-color: inherit;
}

.ui-datatable .ui-sortable-column {
    cursor: pointer;
}

.ui-datatable tr.ui-state-highlight {
    cursor: pointer;
}

.ui-datatable .ui-selection-column .ui-chkbox-all {
    display: block;
    margin: 0px auto;
    width: 16px;
    height: 16px;
}

.ui-datatable-scrollable table {
    table-layout: fixed;
}

.ui-datatable-scrollable-body {
    overflow: auto;
}

.ui-datatable-scrollable-header, .ui-datatable-scrollable-footer {
    overflow: hidden;
    border: 0px none;
}

.ui-datatable-scrollable .ui-datatable-scrollable-header, .ui-datatable-scrollable .ui-datatable-scrollable-footer {
    position: relative;
}

.ui-datatable-scrollable .ui-datatable-scrollable-header td {
    font-weight: normal;
}

.ui-datatable-scrollable-body::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 15px;
    background-color: transparent;
}

.ui-datatable-scrollable-body::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 1px solid white;
    background-color: rgba(194, 194, 194, .5);
}
